body {
    background-color: aquamarine;
}

.main_wrapper{
    width: 100%;
    height: auto;
    margin: auto;
}

.header_wrapper{
    width:100%;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* #logo{
    float: left;
} */

#slogan{
    margin-top: 47px;
}

/* #mac{
    float: right;
    height: 70px;
    margin-top: 20px;
} */

/* .content_wrapper{
    width: 1000px;
    margin:auto;
    background-color: bisque;
} */

#content_area {
    width: 100%;
    margin: auto;
    background: seashell;
}

/* #sidebar{
    width:200px;
    background: greenyellow;
    float: left;
} */

/* #sidebar_title{
    background: honeydew;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#cats{
    text-align: center;
    width: 120px;
}

#cats li {
    list-style: none;
    margin: 20px;
}

#cats a {
    color: black;
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

#cats a:hover{
    color: cadetblue;
    font-weight: bolder;
    text-decoration: underline;
} */

#content_box {
    width: 100%;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 10px;
    
}

#single_product{
    float: left;
    margin-left: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;

}

/* #single_product img{
    border: 2px solid black;
} */

/* #shopping_cart{
    width: 800px;
    height: 40px;
    background-color: yellow ;
} */

#footer{
    width: 100%;
    height: auto;
    background: gray;
    clear:both;
    text-align: end;
}

.menubar{
    width: 100%;
    height: 50px;
    background: gray;
    color: blue;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    line-height: 50px;
}

#menu li {
    list-style: none;
    display: inline;
}

#menu a{
    text-decoration: none;
    color: white;
    padding: 12px;
    margin: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

#menu a:hover{
    color: yellow;
    font-weight: bolder;
    text-decoration: underline;
}